 
 
{{#each categories}}
    {{#if enabled}}
        
        <section class="category-section row">
            <div class="flex-category-container-alt"> 
                <div class="category">
 
                    <picture>
                        <source media="(min-width: 1024px)" srcset="../../../{{imageUrl}}/400.png">
                        <source media="(min-width: 768px)" srcset="../../../{{imageUrl}}/340.png">
                        <source media="(min-width: 600px)" srcset="../../../{{imageUrl}}/230.png">
                        <img src="../../../{{imageUrl}}/100.png" alt="{{name}}">
                    </picture>


                    <!--<img src="../../../{{imageUrl}}">-->
                </div>

                <div class="category-desc">
                    <h4 class="category-heading" tabindex="0">{{name}}</h4>
                    <p class="category-text" tabindex="0">{{description}}</p>
                    <button tabindex="0" class="category-button" onclick="location.href='../../plp.html?id={{id}}';">Explore {{key}}</button>
                </div>
            </div>
        </section>
       
    {{/if}}
{{/each}}
