
{{#each products}}
<div class="product-overview" id={{id}}>
  <div class="product-name">
      <h3>{{name}}</h3>
  </div>
  <div class="product">
      <div class="product_img">

          <picture>
            <source media="(min-width: 1024px)" srcset="../../../{{imageURL}}/200.jpg">
            <source media="(min-width: 768px)" srcset="../../../{{imageURL}}/200.jpg">
            <source media="(min-width: 600px)" srcset="../../../{{imageURL}}/300.jpg">
            <img src="../../../{{imageURL}}/300.jpg" >
        </picture>
        <!--  <img src="../../../{{imageURL}}"> -->
      </div>
      <div class="product-desc">
      
          
          {{description}}
          
          <button class="xsm-bn-btn">Buy Now @ Rs. {{price}}</button>
      </div>
      
      
      
  </div>
  <div class="atc"> 
          <p>Rs. {{price}}</p>
          <button class="bn-btn">Buy Now</button>
          <button class="sm-bn-btn">Buy Now @ Rs. {{price}}</button>
  </div>
  </div>
  {{/each}}